/* RATÓN */
.mouse-jump{
    position:absolute;

    left:40%;
    bottom:15%;

    width:380px; /* 👈 más grande */

    animation:none; /* 👈 ya no salta solo */

    cursor:pointer;
    transition: transform 0.2s ease;
}

.mouse-jump:hover{
    animation:jump 0.9s infinite; /* 👈 ahora salta en hover */
    transform: scale(1.05);
}

.mouse-jump img{
    width:100%;
    height:auto;
}

/* SOMBRA */
.mouse-jump::after{
    content:"";

    position:absolute;

    left:50%;
    bottom:-18px;

    transform:translateX(-50%);

    width:120px;
    height:28px;

    background:rgba(0,0,0,0.18);

    border-radius:50%;

    filter:blur(4px);

    animation:none; /* 👈 no siempre activa */
}

.mouse-jump:hover::after{
    animation:shadowJump 0.9s infinite; /* 👈 solo en hover */
}

/* SALTO */
@keyframes jump{

    0%{
        transform:translateY(0px) scaleY(1);
    }

    15%{
        transform:translateY(0px) scaleY(0.94);
    }

    45%{
        transform:translateY(-85px) scaleY(1.02);
    }

    60%{
        transform:translateY(-85px) scaleY(1.02);
    }

    100%{
        transform:translateY(0px) scaleY(1);
    }
}

/* SOMBRA */
@keyframes shadowJump{

    0%{
        transform:translateX(-50%) scale(1);
        opacity:.28;
    }

    50%{
        transform:translateX(-50%) scale(.62);
        opacity:.12;
    }

    100%{
        transform:translateX(-50%) scale(1);
        opacity:.28;
    }
}
